@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 80vw;
        height: 400px;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 300px;
        margin-top: 7%;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
        margin-top: 2%;
    }

    form > div > input[type=submit] {
        margin-left: 120px;
    }


}

@media screen and (min-width: 992px) {
    body, html {
        background-size: cover;
    }

    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 70%;
        background-position: center center;
        margin-top: 90px;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        padding-top: 100px;
    }

    form > div > input[type=submit] {
        margin-left: 160px;
    }
}